In [7]:
# modules we'll use
import pandas as pd
import numpy as np

# read in all our data
nps_df = pd.read_csv("data/archive.csv")

nps_df.sample(4)

,Year,Category,Prize,Motivation,Prize Share,Laureate ID,Laureate Type,Full Name,Birth Date,Birth City,Birth Country,Sex,Organization Name,Organization City,Organization Country,Death Date,Death City,Death Country
352,1962,Chemistry,The Nobel Prize in Chemistry 1962,"""for their studies of the structures of globul...",1/2,227,Individual,John Cowdery Kendrew,1917-03-24,Oxford,United Kingdom,Male,MRC Laboratory of Molecular Biology,Cambridge,United Kingdom,1997-08-23,Cambridge,United Kingdom
143,1928,Medicine,The Nobel Prize in Physiology or Medicine 1928,"""for his work on typhus""",1/1,318,Individual,Charles Jules Henri Nicolle,1866-09-21,Rouen,France,Male,Institut Pasteur,Tunis,NaN,1936-02-28,Tunis,Tunisia
16,1903,Peace,The Nobel Peace Prize 1903,NaN,1/1,466,Individual,William Randal Cremer,1828-03-18,Fareham,United Kingdom,Male,NaN,NaN,NaN,1908-07-22,London,United Kingdom
265,1950,Peace,The Nobel Peace Prize 1950,NaN,1/1,511,Individual,Ralph Bunche,1904-08-07,"Detroit, MI",United States of America,Male,Harvard University,"Cambridge, MA",United States of America,1971-12-09,"New York, NY",United States of America

In [9]:
missing_values_count = nps_df.isnull().sum()
missing_values_count

Year                      0
Category                  0
Prize                     0
Motivation               88
Prize Share               0
Laureate ID               0
Laureate Type             0
Full Name                 0
Birth Date               29
Birth City               28
Birth Country            26
Sex                      26
Organization Name       247
Organization City       253
Organization Country    253
Death Date              352
Death City              370
Death Country           364
dtype: int64

In [10]:
# How many total missing values do we have?
# shape returns the dimentionality of a dataframe (rows and columns), can you guess what product will do?
total_cells_nfl = np.product(nps_df.shape) 
total_missing_nfl = missing_values_count.sum()

# percent of data that is missing
percentage_missign_values_nfl = (total_missing_nfl/total_cells_nfl) * 100
print(percentage_missign_values_nfl)

11.672973282880404